<div class="index">  
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "MisterCocktail", root_path, class: "navbar-brand" %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-3">
        <li class="mr-3">

          <%= simple_form_for :search, url: root_path, method: :get do |f| %>
            <div class="search-form-control">
              <%= f.input :query, label: false %>   
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </div>
          <% end %>

        </li>
        <li class="nav-item mt-2">
          <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-info" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center">Our cocktails</h1>
    <div class="cards">

      <% @cocktails.each do |cocktail| %>

        <% if cocktail.image.attached? %>
          <div class="card-zoom">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("https://res.cloudinary.com/fabdv/image/upload/v1581787301/Mister%20Cocktail/#{cocktail.image.key}") %>)">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        <% end %>

      <% end %> 
 
    </div>
  </div>
</div>
